.botUsers-list {
    display: flex;
    flex-flow: column;
    padding-left: 1%;
    padding-right: 1%;
}

.botUsers-list-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botUsers-list-raw {
    text-align: left;
}

.botUsers-list-id {
    width: 15%;
}

.botUsers-list-bot {
    width: 5%;
}

.botUsers-list-name {
    width: 30%;
}

.botUsers-list-link {
    color: blueviolet;
}



.user-show_user-wrapper {
    display: flex;
    flex-flow: column;
}
