.botUsers-list {
    display: flex;
    flex-flow: column;
    padding-left: 1%;
    padding-right: 1%;
}

.botUsers-list-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botUsers-list-raw {
    text-align: left;
}

.botUsers-list-id {
    width: 15%;
}

.botUsers-list-bot {
    width: 5%;
}

.botUsers-list-name {
    width: 30%;
}

.botUsers-list-link {
    color: blueviolet;
}



.user-show_user-wrapper {
    display: flex;
    flex-flow: column;
}

.bot-user-unblock-btn {
    color: peru;
}


.admin_create-mailing_from {
    display: flex;
    flex-flow: column;
}

.mailing_from-text {
    min-width: 300px;
    max-width: 600px;
    border: 1px solid grey;
}

.mailing_from-name {
    min-width: 300px;
    max-width: 600px;
    border: 1px solid grey;
}

.mailing_from-date {
    width: 250px;
}

.mailing_from-submit-btn {
    width: 120px;
}
